body {
    background-color:rgb(248, 145, 145);
    font-size: 18px;
    font-family:'Roboto', 'Open Sans', sans-serif;
}


/* Layout global mise en page avec css grid*/
.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 colonnes de même taille */
    grid-gap: 5px;
}

.header{
    grid-column: 1/6;
    grid-template-rows: repeat(10, 1fr);
    height: 100px;
    display: grid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    grid-template-columns: repeat(5, 1fr); /* 5 colonnes de même taille */
    background-color: #B93A32;
    box-shadow: 1px 1px 1px 1px black;
}

.left-nav {
    grid-column: 1/2;
    background-color: white;
}

.container {
    grid-column: 2/6;
    background-color: #B93A32;
}


/* MENU VERTICAL */

ul {
    margin:0;
    padding: 0;
}

li{
    list-style-type: none;
}

.genre {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 100%;
}
.genre ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
.genre li {
   background-color: #111; 
   border-radius: 6px;
   margin-bottom:2px;
   box-shadow: 3px 3px 3px #999;
   border:solid 1px #333A40
}
.genre li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0
}
.genre a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: verdana;
  font-size:1.2em
}


.genre ul li a, .genre li:hover li a {
  font-size:1em
}
.genre li:hover {
   background: #111;
   color: red;
}

.genre li:hover a {
  color:white;
}
.genre li li:hover {
   background: red;
}
.genre ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
.genre li:hover li {
  max-height: 15em;
}

img {
    height: auto;
    max-width: 100%;
}

  
  h2 {
    color: #111;
    font-weight: 600;
    font-weight: normal;
    margin: 0;
    padding: 0.6em 0;
    text-align: center;
  }
  
  .controls {
    padding: 1em;
    text-align: center;
  }
  
  .controls button {
    background: #aaa;
    border: 0;
    border-radius: 0.25em;
    color: #eee;
    padding: 0.5em 1em;
  }
  
  .controls button:hover,
  .controls button:focus {
    background: orange;
  }

  h1
  {
    text-shadow: 0px 0px 7px rgba(141, 23, 23, 0.75);
    color: #080808;
    font-weight: 800;
  }



/* HEADER */

.main-title {
    text-align: center;
}

/* */
* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  #searchMovieForm input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  #searchMovieForm button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #111;
    color: red;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  #searchMovieForm button:hover {
    background: #0b7dda;
  }

  .search-container {
    grid-column: 3/6;
    padding: 20px;
  }
  
  /* Clear floats */
  #searchMovieForm::after {
    content: "";
    clear: both;
    display: table;
  }

/* SLIDE FOR MOVIE IMAGE */
.imagesMovie { 
  width: 90%;
  margin: auto;
  position: relative; 
  height: 200px; 
  padding : 10px;
  text-align: center;
}

.imagesMovie img { 
  max-height: 100%;
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: -1px 0px 5px 5px rgb(153, 43, 35);
-moz-box-shadow: -1px 0px 5px 5px rgb(153, 43, 35);
box-shadow: -1px 0px 5px 5px rgb(153, 43, 35);
}

.imagesMovie > div { 
  position: absolute; 
  top: 5px; 
  left: 1px; 
  bottom: 1px;
  right: 1px;

}

.similarMovies{
  width: 100%;
}

.list_img {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 100px;
  -webkit-box-shadow: -1px 0px 5px 5px rgb(153, 43, 35);
-moz-box-shadow: -1px 0px 5px 5px rgb(153, 43, 35);
box-shadow: -1px 0px 5px 5px rgb(153, 43, 35);
}


/* Mise en page descr*/
.descrMovie{
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}

.descrMovie .imageMovieBox{
  border: 1px solid black;
  flex-basis: 30%;
}

.descrMovie .descrBoxMovie{
  border: 1px solid black;
  vertical-align: top;
  flex-basis: 60%;
}

.descrMovie .imageMovieBox img {
  max-width: 100%;
  height: auto;
  display: block;
}

.descrMovie .descrBoxMovie .leftRightContainer {
  border: 1px solid black;
  width: 90%;
  margin: auto;
  display: flex;
  margin-top: 10px;

}

.descrMovie .descrBoxMovie .leftRightContainer .leftDescrBoxMovie {
  border-right: 1px solid black;
  
}

.descrMovie .descrBoxMovie .leftRightContainer .leftDescrBoxMovie {
  flex-basis: 50%;
  
}

.elementDescr {
  display: flex;
  width: 80%;
}

.elementDescr span {
  display: flex;
  margin-left: auto;
}

footer {
  grid-column: 1/6;
  background-color: #111;
  height: 100px;
  color:#B93A32;
  text-align: center;
}
