body {
    background-color:white;
}

/* Layout global mise en page avec css grid*/
.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 colonnes de même taille */
    grid-gap: 5px;
}

.header{
    grid-column: 1/6;
    grid-template-rows: repeat(10, 1fr);
    height: 100px;
    display: grid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    grid-template-columns: repeat(5, 1fr); /* 5 colonnes de même taille */
    background-color: #B93A32;
}

.left-nav {
    grid-column: 1/2;
    background-color: blue;
}

.container {
    grid-column: 2/6;
    background-color: brown;
}


/* MENU VERTICAL */

ul {
    margin:0;
    padding: 0;
}

li{
    list-style-type: none;
}

.genre {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 100%;
}
.genre ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
.genre li {
   background-color:#729EBF; 
   background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
   background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
   border-radius: 6px;
   margin-bottom:2px;
   box-shadow: 3px 3px 3px #999;
   border:solid 1px #333A40
}
.genre li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0
}
.genre a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: verdana;
  font-size:1.2em
}
.genre ul li a, .genre li:hover li a {
  font-size:1em
}
.genre li:hover {
   background: #729EBF
}
.genre li li:hover {
   background: #999;
}
.genre ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
.genre li:hover li {
  max-height: 15em;
}

img {
    height: auto;
    max-width: 100%;
}

  
  h2 {
    color: #aaa;
    font-size: 7em;
    font-weight: normal;
    margin: 0;
    padding: 0.6em 0;
    text-align: center;
  }
  
  .controls {
    padding: 1em;
    text-align: center;
  }
  
  .controls button {
    background: #aaa;
    border: 0;
    border-radius: 0.25em;
    color: #eee;
    padding: 0.5em 1em;
  }
  
  .controls button:hover,
  .controls button:focus {
    background: orange;
  }

  h1
  {
    text-shadow: 0px 0px 7px rgba(141, 23, 23, 0.75);
    color: #080808;
  }



/* HEADER */

.main-title {
    text-align: center;
}

/* */
* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  #searchMovieForm input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  #searchMovieForm button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  #searchMovieForm button:hover {
    background: #0b7dda;
  }

  .search-container {
    grid-column: 3/6;
    padding: 20px;
  }
  
  /* Clear floats */
  #searchMovieForm::after {
    content: "";
    clear: both;
    display: table;
  }

/* SLIDE FOR MOVIE IMAGE */
#imgMovieSlides { 
  margin: 50px auto; 
  position: relative; 
  width: 500px; 
  height: 300px; 
  padding : 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#imgMovieSlides > div { 
  position: absolute; 
  top: 5px; 
  left: 1px; 
  bottom: 1px;
  right: 1px;

}

.similarMovies{
  width: 100%;
}

.list_img {
  display: flex;
  width: 100%;
}

